*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorGrande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    margin: 0.5em;
    width: 100%;
    max-width: 450px;
}

img{
    width: 95%;
    max-width: 300px;
    border-radius: 5%;
    margin: 0.5rem;
}

.contenedorTexto{
    display: flex;
    padding: 0.5em;
    width: 90%;
    flex-direction: column;
    word-wrap: break-word;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

p, a {
    margin: 5px;
}



@media (min-width: 700px){
    .contenedorGrande{
        
    }

    img{

    }
    .contenedorTexto{

    }
}

@media (min-width: 1200px){

}