*{
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorGrande{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    margin: 0.5em;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    justify-content: center;
}

img{
    width: 95%;
    max-width: 300px;
    margin: 0.5rem;
    border-radius: 10px;
}

.contenedorTexto{
    display: flex;
    padding: 0.5em;
    width: 90%;
    flex-direction: column;
    font-size: 1.2rem;
    word-wrap: break-word; /* Muy bueno para que texto se ajuste a contenedor*/
    font-weight: bolder;
    text-align: center;
}

p, a {
    margin: 5px;
    text-align: center;
}

/* No se incluten media queries porque se ajusta bien*/